<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <%- include('./partials/header.ejs')%>
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 min-h-screen">
    <!-- Loading Screen -->
    <div
      id="introScreen"
      class="fixed inset-0 z-50 flex items-center justify-center bg-white/30 dark:bg-gray-900/40 backdrop-blur-xl backdrop-saturate-150
"
    >
      <div class="text-center">
        <div class="relative w-64 h-64">
          <div
            class="absolute inset-0 bg-white dark:bg-gray-900 rounded-full animate-pulse"
          ></div>
          <div class="relative w-full h-full flex items-center justify-center">
            <img src="/images/cctv.gif" alt="Logo" class="w-32 h-32" />
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar Navigation -->
    <%- include('./partials/navbar.ejs', {activePage: 'dashboard'}) %>

    <!-- Top Navigation Bar -->
    <%- include('./partials/topMenu.ejs', {user: user})%>

    <!-- Main Content -->
    <%- include('./partials/dashboardContent.ejs')%>

    <!-- Integrated JavaScript -->
    <script src="/js/dashboard.js?v=<%= appVersion %>" nonce="<%= nonce %>"></script>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
