<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <%- include('./partials/header.ejs', { title: "DVR Management | StreamVision", keywords: "DVR management, CCTV locations, surveillance sites", description: "Manage your DVRs and surveillance locations in StreamVision dashboard" }) %>
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 min-h-screen">
    <!-- Sidebar Navigation -->
    <%- include('./partials/navbar.ejs', {activePage: 'dvr'}) %>

    <!-- Top Navigation Bar -->
    <%- include('./partials/topMenu.ejs', { title: "DVR Management", user: user }) %>

    <!-- Main Content -->
    <%- include('./partials/dvrContent.ejs') %>

    <!-- Integrated JavaScript -->
    <script src="/js/dvr.js" nonce="<%= nonce %>"></script>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
