<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <%- include('./partials/header.ejs',{title: "DVR"}) %>
  </head>
  <body class="dark:bg-gray-900">
    <%- include('./partials/topMenu.ejs',{title: dvr.dvr_name, user: user}) %>
    <%- include('./partials/navbar.ejs', {activePage: 'dvr'}) %>
    <%- include('./partials/camera_list.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
